

/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Merienda', cursive;
  margin: 0%;
}


.navbar {
  background-color: #3901a8;
}

.navbar span {
  color: white;
}

.navbar a {
  color: white;
}

.navbar button {
  color: white;
}



.cover-container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('imgs/space2.jpg');
  background-size: cover;
  background-attachment: fixed;
}

main img {
  border: 2px solid white;
  border-radius: 50%;
  width: 150px;
}


section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

section div {
  max-width: 75%;
}


#about {
  background-color: rgb(255, 255, 255);
  color: rgb(59, 57, 57);
}

#sk {
  text-align: left;
}


footer {
  text-align: left;
}

footer h3 {
  color: rgba(128, 128, 128, 0.562);
  font-size: 12px;
}
