 /* Custom styles */
 main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9364ec;
}

body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #580ce6; /* Dark purple background color */
    color: #ffffff; /* White text color */
}

h1 {
    text-decoration: bold;
    text-shadow: 4px 4px 4px black;
}

h2 {
    margin-top: 1em;
    text-decoration: bold;
    text-shadow: 4px 4px 4px black;
}
/* Navbar styles */
.navbar {
    background-color: transparent !important;
    padding: 20px 0;
    font-weight: bold;
}

.navbar-brand span {
    color: #ffffff; /* White color for the brand name */
    margin-left: 20px;
}

.navbar-nav .nav-link {
    color: #ffffff; /* White color for nav links */
    margin-right: 20px; /* Spacing between nav links */
}

/* Footer styles */
footer {
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Align to the bottom of the viewport */
    width: 100%; /* Full width */
    padding: 50px 0; /* Padding for top and bottom */
    text-align: center;
    background-color: #2d149b; /* Darker purple background color for footer */
    z-index: 100; /* Ensure footer appears above other content */
}

footer h3 {
    font-size: 18px; /* Footer text font size */
    color: #ffffff; /* White color for footer text */
}

.c-item {
height: 480px;
}

.c-img {
height: 100%;
object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.9); /* Solid black background color with 70% opacity */
    padding: 10px; /* Add padding around the text areas */
    border-radius: 10px;
}
.carousel-caption h5, 
.carousel-caption p {
    color: white;
    text-decoration: bold;
    -webkit-text-stroke-width: .2px; /* Set the width of the stroke */
    -webkit-text-stroke-color: black; /* Set the color of the stroke */
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for better contrast */
}
/*Sizes the Github logo*/
a.github {
    width: 5%;
}

.textalt {
    max-width: 100%;
}

.textalt h1 {
    font-size: 48px;
    margin-bottom: 2%;
    text-decoration: dashed;
}


.textalt p {
    font-size: 24px;
    margin-top: 2rem;
    margin-left: 12.5%;
    max-width: 50%;
    
}

.skills li {
    margin-left: 20px;
}

.socials {
    text-decoration: none;
    padding-top: .5%;
    font-weight: bolder;
    color:#9364ec;

}