 /* Custom styles */
 main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #580ce6; /* Dark purple background color */
    color: #ffffff; /* White text color */
}

/* Navbar styles */
.navbar {
    background-color: transparent !important;
    padding: 20px 0;
    font-weight: bold;
}

.navbar-brand span {
    color: #ffffff; /* White color for the brand name */
    margin-left: 20px;
}

.navbar-nav .nav-link {
    color: #ffffff; /* White color for nav links */
    margin-right: 20px; /* Spacing between nav links */
}

/* Footer styles */
footer {
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Align to the bottom of the viewport */
    width: 100%; /* Full width */
    padding: 50px 0; /* Padding for top and bottom */
    text-align: center;
    background-color: #2d149b; /* Darker purple background color for footer */
    z-index: 100; /* Ensure footer appears above other content */
}

footer h3 {
    font-size: 18px; /* Footer text font size */
    color: #ffffff; /* White color for footer text */
}

.c-item {
height: 480px;
}

.c-img {
height: 100%;
object-fit: cover;
}

 .carousel-item.c-item .carousel-caption.custcap p {
 color: white;
}